fieldset{
   
    background-color: rgb(40, 233, 82);
    border: solid rgb(10, 111, 243) ;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    height: 300px;
}
#submit-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #561ae2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
  #submit-button:hover {background-color: #3e8e41}
  
  #submit-button:active {
    background-color: #4f2ee4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#statistic-button{
    display: block;
    margin: auto;
    background-color: rgb(11, 173, 106);
    font-style: italic;
    font-size: x-large;
}
#url_input{
    width: 500px;
    height: 50px;
}

table{
    text-align: center;
    width: 50%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 100px;
    border: rgb(33, 3, 202) solid;
    border-radius: 40px; 
    padding: 25px;
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: larger;
   
    width: max-content;
}
body{
    
    text-align: center;
}